@import url('https://fonts.google.com/specimen/Amatic+SC');
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 2rem;
  font-family: "Amatic SC", sans-serif;
  background-color: black;
  color: white;
}
.top {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.149)80%,rgba(0, 0, 0, 0.075)80%),url(index_img.jpg);
  /* background-image: url(index_img.jpg); */
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.top-list ul {
  display: flex;
}
.top-list ul li{
  list-style: none;
  margin-left: 30px;
  margin-top: 5px;
}
.top-list ul li a{
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.top-list ul li a:hover {
  background-color: red;
  color: black;
}
.top .img-title {
  font-size: 120px;
  color: whitesmoke;
  position: absolute;
  top: 30%;
  left: 30%;
}
.top .img-hrs {
  padding: 0.5rem;
  font-size: 35px;
  color: white;
  position: absolute;
  top:92%;
  left: 1%;
  background-color: black;
}
.top .img-menu a{
  padding: 0.6rem;
  text-decoration: none;
  font-size: 45px;
  color: white;
  background-color: black;
  position: absolute;
  top:60%;
  left: 42%;
}
.top .img-menu a:hover {
  background-color: rgb(161, 159, 159);
  color: black;
}

/* Edit our menu */
.menuhead{
  text-align: center;
  padding: 1rem;
  font-size: 4rem;
}
#about {
  background-color: #936862;
}
.myabout {
  margin-left: 12%;
  margin-right: 12%;
}

#about h1 {
  text-align: center;
  padding: 3rem;
  font-size: 4rem;
}

.prices{
  float: right;
  background-color: gray;
  color: white;
}
.desc-text-grey{
  color: gray;
}

.container{
  margin: auto;
  width: 70%;
  background-color: white;
  color: black;
  border: 0.5px solid white;
  margin-bottom: 55px;
}
.mymenu ul{
  display: flex;
}
.mymenu ul li{
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 100px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 33.2pt;
  cursor: pointer;
}
.mymenu ul li:hover{
  background-color: red;
  color: white;
}


.menu-content{
  display: none;
}
.menu-content.active-content{
  display: block;
}
.mylist.active-li{
  background-color: red;
}
.btt{
  color: white;
}
